.container.mission {
    width: 100%;
    height: 100%;
    .container-content {
        width: 100%;
        height: 100%;
        .content {
            width: 45%;
            height: 100%;
            float: left;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 120px;
            .name {
                color:$yellow;
                letter-spacing: 20px;
                font-size: 30px;
                text-transform: uppercase;
                margin-bottom: 50px;
            }
            .description {
                color:white;
                line-height: 1.5;
                padding-right: 30px;
                height: auto;
            }
        }
        .img-container {
            width: 55%;
            height: 100%;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            img {
                display: block;
                width: 85%;
                height: auto;
            }
        }
    }
}
